<form
  class="form-horizontal"
  autocomplete="off"
  #createStudentModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Create New Student' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">

    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="studentNumber">
            {{ "Student Number" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="studentNumber"
              id="studentNumber"
              required
              maxlength="32"
              [(ngModel)]="student.studentNumber"
              #studentNumberModel="ngModel"
              #studentNumberEl
            />
            <abp-validation-summary
              [control]="studentNumberModel"
              [controlEl]="studentNumberEl"
            ></abp-validation-summary>
          </div>
        </div>
    
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Student Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="firstname"
              id="firstname"
              required
              [(ngModel)]="student.person.firstname"
              #firstnameModel="ngModel"
              #firstnameEl
            />
            <abp-validation-summary
              [control]="firstnameModel"
              [controlEl]="firstnameEl"
            ></abp-validation-summary>
          </div>
        </div>
    
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            {{ "Student Surname" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="surname"
              id="surname"
              required
              [(ngModel)]="student.person.surname"
              #surnameModel="ngModel"
              #surnameEl
            />
            <abp-validation-summary
              [control]="surnameModel"
              [controlEl]="surnameEl"
            ></abp-validation-summary>
          </div>
        </div>
    
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="dateOfBirth">
            {{ "Date Of Birth" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="date"
              class="form-control"
              name="dateOfBirth"
              id="dateOfBirth"
              required
              [(ngModel)]="student.person.dateOfBirth"
              [value]="student.person.dateOfBirth"          
              #dateOfBirthModel="ngModel"
              #dateOfBirthEl
            />
            <abp-validation-summary
              [control]="dateOfBirthModel"
              [controlEl]="dateOfBirthEl"
            ></abp-validation-summary>
          </div>
        </div>
    
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="idNumber">
            {{ "ID Number" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="idNumber"
              id="idNumber"
              required
              maxlength="13"
              [(ngModel)]="student.person.idNumber"
              #idNumberModel="ngModel"
              #idNumberEl
            />
            <abp-validation-summary
              [control]="idNumberModel"
              [controlEl]="idNumberEl"
            ></abp-validation-summary>
          </div>
        </div>    
    
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="idNumber">
            {{ "Tag ID" | localize }}
          </label>
          <div class="col-md-9">
          <select
                class="form-control"
                id="tagId"
                name="tagId"
                required
                [(ngModel)]="student.tagId"
                #tagIdModel="ngModel"
                #tagIdEl>
            <option value="0" selected disabled>Select Tag UID</option>
            <option *ngFor="let tag of tags" [value]="tag.id">
                {{tag.uid}}
            </option>
          </select>
          <abp-validation-summary
                [control]="tagIdModel"
                [controlEl]="tagIdEl"
          ></abp-validation-summary>
          </div>
        </div>         
        
        <div class="row">
          <label class="col-md-12 col-form-label" for="idNumber">
            Student Image
          </label>        
          <div class="col-md-12 text-center">
            <div id="results">Your captured image will appear here...</div>
            <img src="{{ captureImage }}" height="300px">
          </div>
        </div>
      </tab>

      <tab [heading]="'Student Image' | localize" class="pt-3 px-2">        
        <div class="row">
          <div class="col-md-12">
            <label class="col-form-label" for="idNumber">
              {{ "Capture student image for facial recognition software" | localize }}
            </label>
          </div>
          <div class="col-md-12 text-center">            
            <webcam
            [trigger]="triggerObservable" 
            (imageCapture)="handleImage($event)"></webcam> 
          </div>
          <div class="col-md-12">
            <div class="btn btn-success" (click)="triggerSnapshot()">Take A Snapshot</div>
          </div>
        </div>        
      </tab>
    </tabset>

  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createStudentModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
